# Compiled output
target/


# IDE
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment / secrets
.env
application-local.yml
DB_PASSWORD=0788
MAIL_USERNAME=your@gmail.com
MAIL_PASSWORD=your_gmail_app_password
