<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AucaDb"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=AucaCertificatesDb;Integrated Security=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DirectorName" value="Eng. Nsengiyumva Juvenal" />
    <add key="DirectorTitle" value="Director for Admissions and Academic Records" />
    <add key="UniversityName" value="Adventist University of Central Africa" />
    <add key="UniversityAddress" value="P.O. Box 2461 Kigali, Rwanda" />
    <add key="UniversityPhones" value="(+250)724 796 996 / 724 474 805 / 788 473 035" />
    <add key="UniversityEmails" value="registrar@auca.ac.rw, juvenal.nsengiyumva@auca.ac.rw" />
    <add key="UniversityWebsite" value="www.auca.ac.rw" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="System.Web" namespace="System.Web.UI" tagPrefix="asp" />
      </controls>
    </pages>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
